schema=solidstats-memory-remote-cutover-config/v1
state_root=MEMORY_OPERATOR_PRIVATE_STATE_ROOT
runuser_path=MEMORY_OPERATOR_RUNUSER_PATH
docker_path=MEMORY_OPERATOR_DOCKER_PATH
kubectl_path=MEMORY_OPERATOR_KUBECTL_PATH
curl_path=MEMORY_OPERATOR_CURL_PATH
nginx_path=MEMORY_OPERATOR_NGINX_PATH
systemctl_path=MEMORY_OPERATOR_SYSTEMCTL_PATH
python_path=MEMORY_OPERATOR_PYTHON_PATH
nginx_unit=MEMORY_OPERATOR_NGINX_UNIT
kube_context=MEMORY_OPERATOR_KUBE_CONTEXT
new_namespace=MEMORY_OPERATOR_NEW_NAMESPACE
new_deployment=MEMORY_OPERATOR_NEW_DEPLOYMENT
new_expected_replicas=MEMORY_OPERATOR_NEW_EXPECTED_REPLICAS
nginx_root=MEMORY_OPERATOR_NGINX_ROOT
nginx_available_path=MEMORY_OPERATOR_NGINX_AVAILABLE_PATH
nginx_enabled_path=MEMORY_OPERATOR_NGINX_ENABLED_PATH
command_timeout_seconds=MEMORY_OPERATOR_COMMAND_TIMEOUT_SECONDS
legacy_user=MEMORY_OPERATOR_LEGACY_USER
legacy_socket=MEMORY_OPERATOR_LEGACY_SOCKET
legacy_container=MEMORY_OPERATOR_LEGACY_CONTAINER
freeze_lock_container=MEMORY_OPERATOR_FREEZE_LOCK_CONTAINER
old_upstream=MEMORY_OPERATOR_OLD_UPSTREAM_ROOT_WITH_TRAILING_SLASH
new_upstream=MEMORY_OPERATOR_NEW_UPSTREAM_ROOT_WITH_TRAILING_SLASH
new_health_url=MEMORY_OPERATOR_NEW_HEALTH_URL
